<div class="panel panel-default">
    {# TITLE #}
    {% if title %}
        <div class="panel-heading">

            {# LOADING INDICATOR #}
            <div class="pull-right" data-dtable="loading-container"></div>

            <h3 class="panel-title">{{ title }}</h3>
        </div>
    {% endif %}

    {# SEARCH & PAGINATION #}
    {% if (pagination or search) %}
        <div class="panel-body">

            {# =====================================
                PAGINATION
                data-dtable="pagination" attr is required for the root html elem of the pager.
               ===================================== #}
            {% if pagination %}
                <div class="pull-left col-lg-6" data-dtable="pagination"></div>
            {% endif %}

            {# =====================================
                SEARCH
                only one search field supported for a table:
                data-dtable="search-input" for the input text field
               ===================================== #}
            {% if search %}
                <div class="pull-right col-lg-6">
                    <input type="text" class="form-control" placeholder="{{ search.placeholder }}" data-dtable="search">
                </div>
            {% endif %}

            <div class="clearfix"></div>
        </div>
    {% endif %}

    <table class="table table-striped table-bordered table-hover">
        {# COLUMNS & FILTER #}
        <thead>
            <tr>
                {% for column_id, column_def in columns %}
                    <th>
                        {# =====================================
                            ORDER BY
                            active order by tag will get .active class
                           ===================================== #}
                        {% if column_def.order %}
                            <div class="pull-right" data-dtable="order">
                                <div class="glyphicon glyphicon-chevron-up" data-dtable="command" data-dtable-command="order.asc" data-dtable-column="{{ column_id }}"></div>
                                <div class="glyphicon glyphicon-chevron-down" data-dtable="command" data-dtable-command="order.desc" data-dtable-column="{{ column_id }}"></div>
                            </div>
                        {% endif %}

                        {{ column_def.title }}
                    </th>
                {% endfor %}
            </tr>
            {# =====================================
                COLUMN FILTER
                filter column by typing in the input field
               ===================================== #}
            {% if has_column_filter %}
                <tr>
                    {% for column_id, column_def in columns %}
                        {% if column_def.filter %}
                            <td>
                                <input type="text" class="form-control" placeholder="{{ column_def.filter.placeholder }}"
                                    data-dtable="command" data-dtable-command="column_filter" data-dtable-column="{{ column_id }}">
                            </td>
                        {% else %}
                            <th></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody data-dtable="table">

        </tbody>
    </table>

    {# =====================================
        pagination, see prev example
       ===================================== #}
    {% if pagination %}
        <div class="panel-footer dtable-pagination" data-dtable="pagination">

        </div>
    {% endif %}

</div>



{#
{% macro print_attr(attr) %}
    {% if attr %}
        {% for name, value in attr %} {{ name }}="{{ value }}"{% endfor %}
    {% endif %}
{% endmacro %}

<div class="panel panel-default">
    {% if table.title %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ table.title }}</h3>
    </div>
    {% endif %}
    {% if (table.pagination or table.search) %}
    <div class="panel-body">
        {% if table.pagination %}
            <div class="pull-left dtable-pagination">

            </div>
        {% endif %}
        {% if table.search %}
            <div class="pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{ table.search.placeholder }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">{{ table.search.submit_text }}</button>
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                {% for column_name, column in table.columns %}
                    <th {{ print_attr(column.attr) }}>
                        {% if column.order %}
                            {{ column.title }}
                            <div class="pull-right">
                                <div class="glyphicon glyphicon-chevron-up"></div>
                                <div class="glyphicon glyphicon-chevron-down"></div>
                            </div>
                        {% else %}
                            {{ column.title }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            {% if table.column_filter %}
                <tr>
                    {% for column_name, column in table.columns %}
                        {% if column.filter %}
                            <th><input type="text" class="form-control" name="{{ column_name }}" placeholder="{{ column.filter.placeholder }}"></th>
                        {% else %}
                            <th></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody class="dtable-rows">

        </tbody>
    </table>

    {% if table.pagination %}
        <div class="panel-footer dtable-pagination">
                <ul class="pagination" style="margin: 0">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
        </div>
    {% endif %}

</div>
#}
